<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Education Template - Meeting Detail Page</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../../assets/css/fontawesome.css">
  <link rel="stylesheet" href="../../assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="../../assets/css/owl.css">
  <link rel="stylesheet" href="../../assets/css/lightbox.css">

</head>

<body>



  <!-- 页面最上层 -->
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>该网站基于<em> Bootstrap Node.js MongoDB </em>搭建</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">

          <!-- 开发团队的社交账号 -->
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <!-- 通过logo回到主页 -->
            <a href="../../index.html" class="logo">
              汽车课程聚合
            </a>
            <!-- ***** Logo End ***** -->


            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="../../index.html">主页</a></li>

              <!-- 待定 -->
              <!-- TODO -->
              <li><a href="#" class="active">所有课程</a></li>

              <!-- 加入开发团队 -->
              <!-- TODO -->
              <li><a href="index.html">加入开发团队</a></li>

              <!-- 切换至其他课程 -->
              <li class="has-sub">
                <a href="javascript:void(0)">选择课程</a>

                <!-- 跳转至其他课程 -->
                <ul class="sub-menu">
                  <li><a href="../../diagnosis/summary.html">汽车保险</a></li>
                  <li><a href="../../diagnosis/summary.html">汽车故障诊断与检测技术</a></li>
                </ul>
              </li>

              <!-- 我是从业者 -->
              <!-- TODO -->
              <li><a href="index.html">我是从业者</a></li>

              <!-- 我是爱好者 -->
              <!-- TODO -->
              <li><a href="index.html">我是爱好者</a></li>
            </ul>


            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- 课程简介 -->
  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>汽车故障诊断与检测 第二章第四节</h6>
          <h2>电子点火系统的故障诊断与检测</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">

            <!-- 课程内容 -->
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">

                  <!-- 课程所属专业 -->
                  <div class="price">
                    <span>汽车服务工程</span>
                  </div>
                  <div class="date">
                    <h6>大三<span>下学期</span></h6>
                  </div>
                  <a href="meeting-details.html"><img src="assets/images/single-meeting.jpg" alt=""></a>
                </div>

                <!-- 章节内容 -->
                <div class="down-content">

                  <!-- 编辑 -->
                  <a href="#">
                    <h4>章节内容</h4>
                  </a>
                  <p>2022-08-22由 Alex 编辑</p>
                  <p class="description">
                    2.4 电子点火系统的故障诊断与检测
                    电子点火系统可分为两类，即普通电子点火系统 （无触点式）和微计算机控制点火系
                    统 （又称电控点火系统），后者又可分为带分电器式电控点火系统和不带分电器式电控点火
                    系统。
                    电子点火系统与传统点火系统比较，主要增加了点火信号传感器和电子点火器 （点火
                    模块），取消了断电器触点。点火信号传感器相当于传统点火系统分电器的断电器凸轮，由
                    触发轮和传感器等组成。常见的点火信号传感器有磁感应式、光电式和霍尔效应式 3种。电
                    子点火器的作用是接通或切断点火线圈的初级电流，相当于传统分电器的断电器触点。在故
                    障诊断与检测中，电子点火系统与传统点火系统在低压电路故障诊断方法是完全不相同的；
                    而高压电路故障诊断方法与传统点火系统基本相同。
                    点火系统出现故障，发动机的表观现象主要有以下几种情况：
                    ①发动机无法起动。
                    ②发动机起动困难。
                    ③发动机动力不足。
                    ④发动机运转不良。
                    ⑤发动机冒烟和排气管 “放炮”。
                    ⑥发动机进气管回火。
                    ⑦发动机怠速不稳。
                    ⑧发动机加速熄火。
                    ⑨发动机油耗过高。
                    ⑩发动机抖动。
                    ⑪瑏瑡发动机噪声很大。
                    电子点火系统故障的常用诊断方法有：搭铁跳火法、干电池检查法、模拟信号法、示波
                    器法和故障诊断仪法等。
                  </p>

                  <!-- 其他功能 -->
                  <!-- Future -->
                  <!-- <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Hours</h5>
                        <p>Monday - Friday: 07:00 AM - 13:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Location</h5>
                        <p>Recreio dos Bandeirantes,
                          <br>Rio de Janeiro - RJ, 22795-008, Brazil
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="book now">
                        <h5>Book Now</h5>
                        <p>010-020-0340<br>090-080-0760</p>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="share">
                        <h5>Share:</h5>
                        <ul>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#">Twitter</a>,</li>
                          <li><a href="#">Linkedin</a>,</li>
                          <li><a href="#">Behance</a></li>
                        </ul>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>


            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="../summary.html">回到课程主页</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 角注部分 -->
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
      </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../../assets/js/isotope.min.js"></script>
  <script src="../../assets/js/owl-carousel.js"></script>
  <script src="../../assets/js/lightbox.js"></script>
  <script src="../../assets/js/tabs.js"></script>
  <script src="../../assets/js/video.js"></script>
  <script src="../../assets/js/slick-slider.js"></script>
  <script src="../../assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>


</body>

</html>